<aside class="column column-fixed-sm aside">
    <nav class="nav">
        <ul class="nav-list">
            <li class="nav-item"><a class="@ManageNavPages.IndexNavClass(ViewContext)" asp-page="./Index"><i class="menu-icon icon-user"></i><span> Profile</span></a></li>
            <li class="nav-item"><a class="@ManageNavPages.ChangePasswordNavClass(ViewContext)" asp-page="./ChangePassword"><i class="menu-icon icon-keyboard"></i><span> Password</span></a></li>
            <li class="nav-item"><a class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" asp-page="./TwoFactorAuthentication"><i class="menu-icon icon-mobile"></i><span> 2-FA</span></a></li>
        </ul>
    </nav>
</aside>
