@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}


<h2 class="content-title">
    <i class="icon-keyboard page-icon"></i> Change Password
</h2>
<div class="content-wrapper">
    <partial name="_StatusMessage" for="StatusMessage" />
    <div class="row">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div>
                <label asp-for="Input.OldPassword"></label>
                <input asp-for="Input.OldPassword" />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit">Update password</button>
        </form>
    </div>
</div>

@section Scripts {

}