<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <PublishProvider>FileSystem</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <TargetFramework>netcoreapp3.0</TargetFramework>
    <ProjectGuid>bd161c0f-f65a-4405-b23a-e0e01692464e</ProjectGuid>
    <SelfContained>true</SelfContained>
    <_IsPortable>false</_IsPortable>
    <DeleteExistingFiles>True</DeleteExistingFiles>
    <RootAllApplicationAssemblies>false</RootAllApplicationAssemblies>
    <PublishTrimmed>true</PublishTrimmed>
    <!-- PublishReadyToRun=true is not supported for linux -->
    <PublishReadyToRun>false</PublishReadyToRun>
    <PublishSingleFile>true</PublishSingleFile>
    <DebugType>None</DebugType>
  </PropertyGroup>
  <ItemGroup>
    <Content Update="appsettings.Development.json" CopyToPublishDirectory="Never" />
    <Content Update="config.Development.json" CopyToPublishDirectory="Never" />
    <Content Update="Certera.db" CopyToPublishDirectory="Never" />
    <Content Update="bundleconfig.json" CopyToPublishDirectory="Never" />
  </ItemGroup>
</Project>