body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
@media (max-width: 640px) {
    body {
        font-size: 1.4rem;
        line-height:1.4;
    }
    label {
        font-size:1.3rem;
    }
}

.header {
    background: #f4f5f6;
    display: block;
    height: 3.5rem;
    left: 0;
    max-width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}

.header-wrapper {
    padding-left: .5em;
    padding-right: .5em;
}
hr {
    border: 0;
    border-top: 0.3rem solid #f4f5f6;
    margin: 2.0rem 0
}
.logo {
    display: inline-block;
    width: 100px;
    height: 21px;
    background-size: 100px 21px;
    background-image: url(/img/logo.svg);
    position: relative;
    top: .5em;
}

form {
    margin-bottom: unset;
    display: unset;
}

.button-header {
    position: relative;
    top: 0.4em;
}

select {
    width: unset;
}

.sort {
    font-size:70%;
    height:unset;
}

.clear-bottom {
    margin-bottom: 0em;
}

.clear-padding {
    padding: 0;
}

.menu {
    list-style: none;
    margin-bottom: 0;
}

@media (min-width: 80rem) {
    .menu {
        margin-right: 0;
    }
}

@media (max-width: 380px) {
    .menu-item:first-child {
        display: none;
    }
}

.menu-item {
    float: left;
    margin-bottom: 0;
    margin-left: 1.5rem;
    position: relative;
}

.menu-link {
    display: inline;
    font-size: 1.4rem;
    line-height: 3.5rem;
    padding: 0;
    text-decoration: none;
}

.aside {
    background-color: #2a4052;
    position: fixed;
    height: 100%;
    margin-top: 3.5rem;
    overflow: auto;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.33);
}

    .aside::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .aside::-webkit-scrollbar {
        width: 8px;
        background-color: transparent;
    }

    .aside::-webkit-scrollbar-thumb {
        background-color: #b4b4b4;
    }

.nav {
    padding-left: .6em;
    padding-top: 1em;
    font-size: 1.3rem;
    color: #fff;
}

@media (max-width: 640px) {
    .nav {
        padding-right: .4em;
        padding-left: .3em;
    }
}

.nav .is-active {
    background-color: #9b4dca;
}

.nav-list {
    list-style: none;
}

    .nav-list li a {
        border-radius: 2px;
        display: block;
        padding: .5em .75em;
        color: #fff;
    }

        .nav-list li a:hover {
            color: #fff;
            background-color: #b174d6;
        }

@media (max-width: 640px) {
    .nav-list li a span {
        display: none;
    }
}

.nav-list li ul {
    list-style: none;
    border-left: 1px solid #dbdbdb;
    margin: .75em;
    padding-left: .75em;
}

.nav-label {
    text-transform: uppercase;
    padding-bottom: .5em;
}

@media (max-width: 640px) {
    .nav-label {
        display: none;
    }
}
.container-acct {
    margin-top: 80px;
}
.content {
    position: fixed;
    height: 100%;
    margin-top: 3.5rem;
    padding: 0.5em 7.5em 3.8em 0.5em !important;
    overflow: auto;
}

@media (max-width: 640px) {
    .content {
        padding: 0.5em .5em 3.8em 0.5em !important;
    }
}

.content-title {
    color: #9b4dca;
    font-size: 2.4rem;
    font-weight:300;
}
@media (max-width: 640px) {
    .content-title {
        font-size:2rem;
    }
}

.page-icon {
    font-size: 1.8rem;
}
@media (max-width: 640px) {
    .page-icon {
        font-size: 1.4rem;
    }
}

.content-wrapper {
    padding-left: 1em;
    margin-right: 3.3em;
}

@media (max-width: 640px) {
    .content-wrapper {
        padding-left: 0.1em;
    }
}

.content::-webkit-scrollbar-track {
    background-color: transparent;
}

.content::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

.content::-webkit-scrollbar-thumb {
    background-color: #b4b4b4;
}

.small-text {
    font-size: 1.2rem;
}

.space-bottom {
    margin-bottom: 1em;
}

.button-small {
    font-size: .8rem;
    height: 2.2rem;
    line-height: 2.2rem;
    padding: 0 1.5rem;
}

textarea.form-control {
    width: 100%;
    height: 200px;
}
.validation-summary-errors ul{
    list-style:none;
}
.text-danger {
    color: red;
}
.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.badge-secondary {
    color: #fff;
    background-color: #6c757d;
}

.badge-primary {
    color: #fff;
    background-color: #007bff;
}

.badge-success {
    color: #fff;
    background-color: #28a745;
}

.badge-danger {
    color: #fff;
    background-color: #dc3545;
}

.badge-warning {
    color: #212529;
    background-color: #ffc107;
}

.badge-info {
    color: #fff;
    background-color: #17a2b8;
}

.badge-dark {
    color: #fff;
    background-color: #343a40;
}

.menu-icon {
    font-size: 1.2rem;
}

.row .column.column-fixed-sm {
    width: 10em;
}

.row .column.column-fixed-lg {
    margin-left: 10em;
}

@media (max-width: 640px) {
    .row .column.column-fixed-sm {
        width: 2.8em;
    }

    .row .column.column-fixed-lg {
        margin-left: 2.8em;
    }
}

@media (max-width: 1024px) {
    .row .column.column-15 {
        max-width: 15%;
    }
}

dt {
    font-weight: bold;
}

table tr, th, td {
    padding:.8rem 1rem;
}

@media only screen and (max-width: 640px) {

    td:first-child, th:first-child {
        padding-left: 30%;
    }

    table, head, tbody, th, td, tr {
        display: block;
        font-size: 0.95em;
    }

    thead tr {
        display: none;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 30%;
        white-space: normal;
        text-align: left;
        min-height: 50px;
        overflow: hidden;
        word-break: break-all;
    }

        td:before {
            position: absolute;
            left: 6px;
            width: 30%;
            padding-right: 10px;
            text-align: left;
            font-weight: bold;
        }

        td:before {
            content: attr(data-title);
            word-break: break-word;
        }
}

.alert {
    padding: 10px;
    background-color: #9b4dca;
    color: #fff;
}

.alert-success {
    padding: 10px;
    background-color: #9b4dca;
    color: #fff;
}

.alert-error {
    padding: 10px;
    background-color: #9b4dca;
    color: #fff;
}

.btn-close {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

    .btn-close:hover {
        color: #606c76;
    }

.required {
    color: red;
}