<!doctype html>
<html>
<head>
<style>
    body {
        font-family:monospace;
    }
</style>
</head>
<body>
    <pre>
Change detected in the <b>{{Domain}}</b> certificate.

<u>New certificate details</u>

<b>Thumbprint</b>
{{NewThumbprint}}

<b>Public Key (hash)</b>
{{NewPublicKey}}

<b>Valid</b>
{{NewValidFrom}} to {{NewValidTo}}

<u>Previous certificate details</u>

<b>Thumbprint</b>
{{PreviousThumbprint}}

<b>Public Key (hash)</b>
{{PreviousPublicKey}}

<b>Valid</b>
{{PreviousValidFrom}} to {{PreviousValidTo}}
    </pre>
</body>
</html>
